services:
  migration-ch:
    image: beesar/migration-ch:latest
    container_name: nayarta-migration-ch
    profiles: ["migration", "all"]
    restart: "no"
    volumes:
      - ${HOST_PROJECT_ROOT:-.}/migration/analytics-postgres/migrations:/app/analytics-postgres
      - ${HOST_PROJECT_ROOT:-.}/migration/analytics-ch/migrations:/app/analytics-ch
    # env_file:
    #   - ../.env
    environment:
      - GOOSE_DRIVER=clickhouse
      - GOOSE_DBSTRING=${CLICKHOUSE_DBSTRING:-clickhouse://default:beEs4rP%40ssW0rD%21@nayarta-ch-server:9000/default?secure=false}
    networks:
      - nayarta-network
    labels:
      - "com.project.name=nayarta"
      - "com.project.profile=migration"

  migration-pg-analytics:
    image: beesar/migration-pg-analytics:latest
    container_name: nayarta-migration-pg-analytics
    profiles: ["migration", "all"]
    restart: "no"
    # env_file:
    #   - ../.env
    environment:
      - GOOSE_DRIVER=postgres
      - GOOSE_DBSTRING=postgres://${DB_USER_ANALYTICS:-admin}:${DB_PASSWORD_ANALYTICS}@${DB_HOST_ANALYTICS:-nayarta-postgres}:${DB_PORT_ANALYTICS:-5432}/${DB_NAME_ANALYTICS:-analytics_db}?sslmode=disable
    networks:
      - nayarta-network
    labels:
      - "com.project.name=nayarta"
      - "com.project.profile=migration"

  vms-migration:
    profiles: ["migration", "all"]
    image: beesar/beesar-vms-be:migration-latest
    container_name: nayarta-migration-vms
    restart: "no"
    env_file:
      - ../.env
    environment:
      # Database Connection (from database service)
      - DB_NAME=${DB_NAME:-vms_development}
      - DB_USER=${DB_USER:-admin}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST:-nayarta-postgres}
      - DB_PORT=${DB_PORT:-5432}
    networks:
      - nayarta-network
    labels:
      - "com.project.name=nayarta"
      - "com.project.profile=migration"