[submodule "migration/analytics-postgres"]
	path = migration/analytics-postgres
	url = https://github.com/beesar-id/nayarta-migration-postgres-analytics.git
[submodule "migration/analytics-ch"]
	path = migration/analytics-ch
	url = https://github.com/beesar-id/nayarta-migration-clickhouse.git
