[Unit]
Description=Dashboard Controll Server for nayarta service
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/opt/dashboard

# Load environment variables from .env
EnvironmentFile=/opt/dashboard/.env

ExecStart=/opt/dashboard/dashboard-server

Restart=always
RestartSec=5
LimitNOFILE=65535

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
